@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  box-sizing: border-box;
  font: normal 100%/1.3 Georgia, serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

.link-cardb {
  display: none;
}

.extra-content {
  display: none;
}

.img-flex {
  width: 100%;
  display: block;
}

.banner {
  max-height: 300px;
  width: 100%;
  display: block;
  overflow: hidden;
}

header {
  display: block;
  position: relative;
}

h1 {
  color: #fff;
  width: 50%;
  justify-content: center;
  text-align: center;
  font-family: "Berkshire Swash";
  font-size: 300%;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 5%;
  left: 25%;
  opacity: .9;
}

h2 {
  position: absolute;
  top: 27%;
  left: 20%;
  padding: 0;
  text-align: center;
  margin-top: .5rem;
  font-size: 150%;
  color: #fff;
  width: 60%;
  opacity: .9;
}

.link-card h2 {
  font-size: 130%;
  font-family: "Berkshire Swash";
  text-align: center;
  position: static;
  margin: 0;
  padding: 0;
  width: 100%;
}

ul {
  list-style-type: none;
  margin: 0;
  margin-top: 1rem;
  margin-bottom: .5rem;
  padding: 0;
}

nav ul li {
  font-size: 100%;
  background-color: #d8bfd8;
  text-align: center;
  border-bottom: 3px solid;
  border-color: #fff0f5;
}

ul li a {
  display: block;
  font-size: 130%;
  background-color: #d8bfd8;
  text-align: center;
  padding: .75em;
}

ul li a:hover {
  background-color: #dda0dd;
}

a {
  margin: 0;
  text-decoration: none;
  color: #fff;
}

.link-card {
  margin-top: .5rem;
  background-color: #d8bfd8;
  padding: .4em .75em 4em;
  border: 3px solid;
  border-color: #fff0f5;
  width: 50%;
  position: relative;
}

.link-card:hover {
  background-color: #dda0dd;
}

.locations {
  margin: 0;
  display: flex;
  flex-wrap: wrap;
}

.btn {
  margin-top: 1rem;
  width: 60%;
  background-color: #4b0082;
  color: #fff;
  display: inline-block;
  text-align: center;
  font-size: 100%;
  border-width: 3px;
  border-color: #fff;
  border-radius: 8px;
  padding: .2em .5em;
  position: absolute;
  bottom: 10px;
  left: 20%;
}

div p {
  margin: .3rem;
}

footer {
  text-align: center;
}

dl {
  background-color: #fff0f5;
  padding-top: 3rem;
  padding-bottom: 1rem;
}

dd {
  margin-bottom: 2rem;
}

dt {
  margin-left: 2rem;
  margin-right: 2rem;
}

.testimonial {
  position: relative;
}

.testimonial h2 {
  font-size: 320%;
  opacity: .3;
  color: rgb(186, 85, 211);
  font-family: "Oleo Script", cursive;
  position: absolute;
  top: 1px;
  left:2px;
  margin: 0;
}

dd {
  font-style: italic;
}

footer a {
  color: #000;
  padding-left: 1em;
}

footer a:hover {
  color: #dda0dd;
}

@media only screen and (min-width: 38em) {

  html {
    line-height: 1.4;
    font-size: 110%;
  }

  h1 {
    width: 90%;
    font-size: 300%;
    top: 15%;
    left: 5%;
  }

  h2 {
    top: 30%;
    font-size: 130%
  }

  nav ul {
    display: flex;
    flex-wrap: wrap;
  }

  li {
    border: 3px solid;
    border-color: #b06b9c;
    width: 50%;
  }

  .banner {
    max-height: 300px;
    width: 100%;
    display: block;
    overflow: hidden;
  }

}

@media only screen and (min-width: 60em) {

  html {
    line-height: 1.5;
    font-size: 120%;
  }

  h2 {
    position: absolute;
    left: 75%;
    top: 40%;
    text-align: left;
    max-width: 25%;
  }

  .link-cardb {
    margin-top: .5rem;
    display: inline-block;
    background-color: #d8bfd8;
    padding: .4em .75em 4em;
    border: 3px solid;
    border-color: #fff0f5;
    width: 33.33%;
    position: relative;
  }

  .link-cardb h2 {
    font-size: 130%;
    font-family: "Berkshire Swash";
    text-align: center;
    position: static;
    margin: 0;
    padding: 0;
    max-width: 100%;
  }

  .link-card h2 {
    max-width: 100%;
    font-size: 130%;
  }

  .link-card {
    width: 33.33%;
  }

  .link-cardb:hover {
    background-color: #dda0dd;
  }

  .banner {
    width: 100%;
    max-height: 200px;
  }

  li {
    width: 25%;
  }

  h1 {
    position: absolute;
    left: 1%;
    top: 35%;
    text-align: left;
  }

  .extra-content {
    display: flex;
    flex-wrap: wrap;
  }

  img {
    width: 100%;
    display: block;
  }

  .img-bowl {
    width: 50%;
    overflow: hidden;
    max-height: 800px;
  }

  .content {
    width: 50%;
    margin: 0;
    text-align: center;
    padding: .4em .7em .5em;
    border: 12px solid;
    border-color: #d8bfd8;
  }

  .content h3 {
    font-size: 200%;
    margin: 0;
    padding: 0;
  }
}

@media only screen and (min-width: 90em) {

  html {
    font-size: 130%;
  }

}
